[submodule "Paper"]
        path = Paper
        url = https://github.com/PaperMC/Paper.git
        branch = ver/1.14
[submodule "Paperclip"]
	path = Paperclip
	url = https://github.com/pl3xgaming/Paperclip.git
